/* CSS Document */
body {
	background-color: #A9A9A9;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: #2F4F4F;
	border: outset;

}

h1 {
	color: #FF0000;
	font-size: 45px;
	text-align: center;
	padding-top: 1px;
}

h2 {
	color: ##FF0000;
}

a:visited {
  color: red;
}

a:hover {
  background-color: pink; 
  color: black;
}

a {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
}
