@charset "UTF-8";

body{
    background-color: cornflowerblue
}

h1 {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: black;
	border: medium double #DFDFDF;
}

p {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white
}
li {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white;
}
